@model EasyHousingSolutionMVC.Models.Login

@{
	ViewData["Title"] = "Login";
}

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-xl btn-info btn-block mt-3">Sign in</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}



<section class="vh-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-black">

				<div class="px-5 ms-xl-4">
					<i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
				</div>

				<div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

					<form style="width: 23rem;" asp-action="Login">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

						@*  <div data-mdb-input-init class="form-outline mb-4">

						<label class="form-label" for="form2Example18">Email address</label>
						<input type="UserName" id="UserName" class="form-control form-control-lg" />
						</div>

						<div data-mdb-input-init class="form-outline mb-4">

						<label class="form-label" for="form2Example28">Password</label>
						<input type="password" id="form2Example28" class="form-control form-control-lg" />
						</div> *@

						<div data-mdb-input-init class="form-outline mb-4">
							<label asp-for="UserName" class="control-label"></label>
							<input asp-for="UserName" class="form-control" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div data-mdb-input-init class="form-outline mb-4">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<div class="pt-1 mb-4">
							<button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" style="background-color: #0A4275; color: white;" type="submit">Login</button>
						</div>

						<p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
						<p>Don't have an account? </p>
						<a asp-area="" class="link-info" asp-controller="Auth" asp-action="SignupBuyer">Register here as Buyer</a><br />
						<a asp-area="" class="link-info" asp-controller="Auth" asp-action="SignupSeller">Register here as Seller</a>

					</form>

				</div>

			</div>
			<div class="col-sm-6 px-0 d-none d-sm-block">
				<img src="/Images/gargPentHouse.png"   alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
			</div>
		</div>
	</div>
</section>

<style>

	.bg-image-vertical {
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: right center;
		background-size: auto 100%;
	}
</style>
