@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom:350px; margin-top:50px;">
    <h1 class="display-4">Welcome To Easy Housing Solution</h1>
    <h5>Kindly, Register or Login for Sell,Buy or Rent Properties  !!</h5>
</div>
